<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WANetCore01</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/Styles.css" />
</head>
<body>
    <header class="site-header">
        <div class="contenedor">
            <div class="barra">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <h1 class="cafe">Blog<span>DeCafé</span></h1>
                </a>
                <nav class="navegacion cafe">
                    <a asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                    <a asp-area="" asp-controller="Home" asp-action="Cursos">Cursos</a>
                    <a asp-area="" asp-controller="Home" asp-action="Producto">Contacto</a>
                </nav>
            </div>
        </div>

        <div class="texto-header">
            <h2>Blog de Café con Consejos y Cursos</h2>
            <p>Aprende de los expertos con las mejores recetas y consejos</p>
        </div>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer no-margin">
        <div class="contenedor">
            <div class="barra  no-margin">
                <p>Blog<span>DeCafé</span></p>

                <nav class="navegacion no-margin">
                    <a asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                    <a asp-area="" asp-controller="Home" asp-action="Cursos">Cursos</a>
                    <a asp-area="" asp-controller="Home" asp-action="Producto">Contacto</a>
                </nav>
            </div>
        </div>
        <div>Creado por Denis Federico Zelaya</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
