@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<main class="contenedor cafe">
    <h2 class="centrar-texto">Nuestros Próximos Cursos y Talleres</h2>

    <article class="curso grid margen">
        <div class="columnas-4">
            <img src="~/img/curso01.jpg" alt="Imagen Curso" class="img-cursos">
        </div>
        <div class="columnas-8">
            <h4 class="no-margin">Técnicas de extracción de café</h4>
            <p class="no-margin">Fecha: <span>15 de Mayo 2020</span></p>
            <p class="no-margin">Precio: <span>Gratis</span></p>
            <p class="no-margin">Cupo: <span>20</span></p>
            <p class="descripcion">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        </div>
    </article>

    <article class="curso grid margen">
        <div class="columnas-4">
            <img src="~/img/curso02.jpg" alt="Imagen Curso" class="img-cursos">
        </div>
        <div class="columnas-8">
            <h4 class="no-margin">Técnicas de extracción de café</h4>
            <p class="no-margin">Fecha: <span>12 de Mayo 2020</span></p>
            <p class="no-margin">Precio: <span>Gratis</span></p>
            <p class="no-margin">Cupo: <span>20</span></p>
            <p class="descripcion">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        </div>
    </article>

    <article class="curso grid margen">
        <div class="columnas-4">
            <img src="~/img/curso03.jpg" alt="Imagen Curso" class="img-cursos">
        </div>
        <div class="columnas-8">
            <h4 class="no-margin">Técnicas de extracción de café</h4>
            <p class="no-margin">Fecha: <span>10 de Mayo 2020</span></p>
            <p class="no-margin">Precio: <span>Gratis</span></p>
            <p class="no-margin">Cupo: <span>15</span></p>
            <p class="descripcion">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
        </div>
    </article>
</main>