@{
    ViewData["Title"] = "Home Page";
}

<div class="contenido-principal contenedor">

    <aside class="cursos cafe">
        <h2>Nuestros Cursos y Talleres</h2>
        <ul class="cursos-lista">
            <li class="curso">
                <h4 class="no-margin">Técnicas de extracción de café</h4>
                <p class="no-margin">Precio: <span>Gratis</span></p>
                <p class="no-margin">Cupo: <span>20</span></p>
                <a href="cursos.html" class="btn btn-secundario">Más Información</a>
            </li>
            <li class="curso">
                <h4 class="no-margin">Recetas de café para principiantes</h4>
                <p class="no-margin">Precio: <span>Gratis</span></p>
                <p class="no-margin">Cupo: <span>20</span></p>
                <a href="cursos.html" class="btn btn-secundario">Más Información</a>
            </li>
        </ul>
    </aside>

    <main class="blog cafe">
        <h2>Nuestro Blog</h2>
        <article class="entrada-blog">
            <div class="imagen">
                <img src="img/img02.jpg" alt="Imagen nuestro blog">
            </div>
            <div class="contenido-blog cafe">
                <h3>Tipos de Granos de Café</h3>
                <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempore ullam adipisci ex quasi, temporibus aut architecto voluptas? Unde possimus ratione ea doloribus temporibus? Libero velit similique recusandae culpa nostrum.</p>
                <a href="entrada.html" class="btn btn-primario">Leer entrada</a>
            </div>
        </article>

        <article class="entrada-blog">
            <div class="imagen">
                <img src="img/img03.jpg" alt="Imagen nuestro blog">
            </div>
            <div class="contenido-blog cafe">
                <h3>3 Deliciosas recetas de Café</h3>
                <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempore ullam adipisci ex quasi, temporibus aut architecto voluptas? Unde possimus ratione ea doloribus temporibus? Libero velit similique recusandae culpa nostrum.</p>
                <a href="entrada.html" class="btn btn-primario">Leer entrada</a>
            </div>
        </article>

        <article class="entrada-blog">
            <div class="imagen">
                <img src="img/img04.jpg" alt="Imagen nuestro blog">
            </div>
            <div class="contenido-blog cafe">
                <h3>Beneficios del Café</h3>
                <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempore ullam adipisci ex quasi, temporibus aut architecto voluptas? Unde possimus ratione ea doloribus temporibus? Libero velit similique recusandae culpa nostrum.</p>
                <a href="entrada.html" class="btn btn-primario">Leer entrada</a>
            </div>
        </article>
    </main>
</div>
