@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="contenedor cafe">
    <h2 class="centrar-texto">Contacto</h2>

    <div class="grid centrar-columnas">
        <div class="columnas-12">
            <img class="img-contacto" src="~/img/contacto.jpg" alt="imagen contacto">
        </div>

        <div class="columnas-10 formulario-contacto contenedor">
            <form action="">

                <div class="campo">
                    <label for="nombre">Nombre: </label>
                    <input type="text" id="nombre" placeholder="Escriba su nombre" class="border-color">
                </div>

                <div class="campo">
                    <label for="email">Correo Electronico: </label>
                    <input id="email" type="email" placeholder="Ingrese su correo electronico" class="border-color">
                </div>

                <div class="campo">
                    <label for="mensaje">Mensaje</label>
                    <textarea id="mensaje" class="border-color"></textarea>
                </div>

                <div class="campo enviar">
                    <input type="submit" value="Enviar" class="btn btn-primario">
                </div>

            </form>
        </div>

    </div>


</main>>